# Python
     *.pyc
     __pycache__/
     *.pyo
     *.pyd
     *.db
     *.sqlite3
     app.log
     .env

     # Virtual environment
     venv/
     env/
     .venv/

     # PyCharm
     .idea/

     # Static uploads
     static/images/user_uploads/*