{% extends 'base.html' %}
{% block title %}Edit Image{% endblock %}
{% block content %}
    <div class="container my-5">
    <br><br>
        <h1>Edit Image</h1>
        <form method="POST">
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select class="form-control" id="category" name="category" required>
                    {% for cat in categories %}
                        <option value="{{ cat }}" {% if cat == image.category %}selected{% endif %}>{{ cat.replace('_', ' ').title() }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="service_name" class="form-label">Associated Service (Optional)</label>
                <select class="form-control" id="service_name" name="service_name">
                    <option value="">None</option>
                    {% for service in services %}
                        <option value="{{ service.name }}" {% if image.service_id and service.id == image.service_id %}selected{% endif %}>{{ service.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Update Image</button>
            <a href="{{ url_for('admin_dashboard') }}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}